body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero_bg {
  background-image: url(/public/images/herolead.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.msg_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/public/images/photo-14.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
}

.contact_bread_crumb {
  background-image: url(/public/images/menubg.jpg);
}

.slick-arrow {
  position: relative;
}

input:focus,
input:hover,
input:focus-visible {
  border: none;
}

.slick-arrow {

  z-index: 999;
}

.slick-prev {
  left: 15px !important;
  width: 30px !important;

}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
}

.slick-next {
  right: 15px !important;
  width: 30px !important;
}

.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  color: White !important;
  font-size: 12px !important;
}

.sticky_side {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}