body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-custom{
  position: relative;
}
.underline-custom:hover{
  color: #fff;
  text-decoration: none;
}

.underline-custom:before, a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background: #fff;
}

.underline-custom:before {
  left: 0;
}
.underline-custom:after {
  right: 0;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.underline-custom:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.underline-custom:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero_bg {
  background-image: url(/public/images/herolead.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.msg_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/public/images/photo-14.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
}

.contact_bread_crumb {
  background-image: url(/public/images/menubg.jpg);
}

.slick-arrow {
  position: relative;
}

input:focus,
input:hover,
input:focus-visible {
  border: none;
}

.slick-arrow {

  z-index: 999;
}

.slick-prev {
  left: 15px !important;
  width: 30px !important;

}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
}

.slick-next {
  right: 15px !important;
  width: 30px !important;
}

.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  color: White !important;
  font-size: 12px !important;
}

.sticky_side {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.container {
  overflow: hidden;
}

.slick-slider {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.textOverflow{
  overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    white-space: unset;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
}